---
layout: default
---

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <nav class="docs-sidebar">
        <h5>Getting Started</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/getting-started/' %}active{% endif %}" href="{{ '/docs/getting-started/' | relative_url }}">Installation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/quickstart/' %}active{% endif %}" href="{{ '/docs/quickstart/' | relative_url }}">Quickstart</a>
          </li>
        </ul>
        
        <h5 class="mt-4">Core Concepts</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/core/bot/' %}active{% endif %}" href="{{ '/docs/core/bot/' | relative_url }}">Bot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/core/dispatcher/' %}active{% endif %}" href="{{ '/docs/core/dispatcher/' | relative_url }}">Dispatcher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/core/handlers/' %}active{% endif %}" href="{{ '/docs/core/handlers/' | relative_url }}">Handlers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/core/filters/' %}active{% endif %}" href="{{ '/docs/core/filters/' | relative_url }}">Filters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/core/middleware/' %}active{% endif %}" href="{{ '/docs/core/middleware/' | relative_url }}">Middleware</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/core/fsm/' %}active{% endif %}" href="{{ '/docs/core/fsm/' | relative_url }}">FSM</a>
          </li>
        </ul>
        
        <h5 class="mt-4">Advanced</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/advanced/webhook/' %}active{% endif %}" href="{{ '/docs/advanced/webhook/' | relative_url }}">Webhooks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/advanced/custom-filters/' %}active{% endif %}" href="{{ '/docs/advanced/custom-filters/' | relative_url }}">Custom Filters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/docs/advanced/callback-data/' %}active{% endif %}" href="{{ '/docs/advanced/callback-data/' | relative_url }}">Callback Data</a>
          </li>
        </ul>
      </nav>
    </div>
    
    <div class="col-md-9">
      <h1>{{ page.title }}</h1>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</div> 